/*RESPONSIVE FONT DESKTOP*/
.Message--Error{
  color: #1d2129;
  font-family: sans-serif;
}
@media (min-width: 800px) and (max-width: 1440px) {
    .Message--Error {
      font-size: calc( 3.5rem + 16 * (100vw - 800px) / (1440 - 800) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 4.2 * (100vw - 1440px) / (800 - 1400) );
    }

  }


/*RESPONSIVE FONT  MOBILE LANDSCAPE */
  @media (min-width: 640px) and (max-width: 1024px) and (min-height:360px) and (max-height:768px) {
    .Message--Error {
      font-size: calc( 2.5rem + 16 * (100vw - 640px) / (1024 - 640) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 3.2 * (100vw - 1024px) / (640 - 1024) );
    }

  }

  /* RESPONSIVE FONT  MOBILE VERTICAL*/
  @media (min-width: 320px) and (max-width: 500px) {
    .Message--Error  {
      font-size: calc( 2.5rem + 16 * (100vw - 320px) / (500 - 320) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 3.2 * (100vw - 500px) / (320 - 500) );
    }
  }