/* 
.Preview__Wrapper{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin:calc(3px + 3vmin);
}

.Preview__Container{
    position: relative;
    /* padding-top: 56.25% ; */
    /* Player ratio: 100 / (1280 / 720) 
} 
*/


/* .player{
    position: fixed; 
    top: 0;
    left: 0;
    z-index:1;
    margin:calc(3px + 3vmin);
    padding:calc(3px + 3vmin);
    width:100%;
    height:100%;
}  */


.Video__Container{
    max-width:640px;
    margin-left:auto; 
    margin-right:auto;
}

.Video__Wrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-left:auto; 
    margin-right:auto;

}
.Video__Wrapper iframe {
    position: fixed;
    top: 25vh;
    left: 25vw;
    width: 60%;
    height: 60%;
    max-width:640px;
}