
.Results--title{
    color: #910000;
    letter-spacing: .3rem;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
}

.Results--wrapper {
    max-width: 980px;
    width: 100%;
}


/*Macbook-air 2018 (1024px)*/
@media (min-width:1024px){

    .Results--container{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin:calc(3px + 3vmin);
    }

    .Results--title{
        letter-spacing: .6rem;
        text-align: center;
        padding:calc(5px + 5vmin);
        text-shadow: 1px 1px 3px #000;
        color: #910000;
    }

    .Results--wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-items: center;
      }

    .Results--card {
        position:relative;
    }

    .Results--card .after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        color: #FFF;
        padding: calc(5px + 3vmin);
    }

    .Results--card:hover .after {
        display: block;
        background: rgba(0, 0, 0, .6);
    }

    .Results--card--title{
        position:relative;
        top:70%;
        text-align: center;
    }


    .Results--image {
        width:100%;
        border-radius: 3px;
        filter: drop-shadow(0px 3px 9px rgba(0,0,0,0.6));
    }

}

/*iphone-x (375px) */
@media (max-width:500px){

    .Results--container{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top:calc(5px + 5vmin);
    }

    .Results--title{
        color: #910000;
        letter-spacing: .3rem;
        text-align: center;
        text-shadow: 1px 1px 3px #000;
        padding:calc(3px + 3vmin);
    }

    .Results--title{
        text-align: center;
        padding:calc(1px + 3vmin);
    }

    .Results--wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-items: center;
        padding:calc(2px + 2vmin);
    }

    .Results--card {
        position:relative;
        border-radius: 3px;
        margin:calc(5px + 2vmin);
        margin-top:calc(5px + 5vmin);
    }

    .Results--card .after {
        border-radius:5px;
        padding:calc(5px + 2vmin);
        border-bottom:5px solid #910000;
    }


    .Results--card--title{
        text-align: center;
        color: #4d4d4d;
        letter-spacing: .3rem;
        padding: calc(2px + 1vmin);
    }

    .Results--image {
        border-radius:5px; 
        width:100%;
    }
}


  
    //desktops
  @media (min-width: 800px) and (max-width: 1440px) {
    .Results--title {
      font-size: calc( 3.5rem + 16 * (100vw - 800px) / (1440 - 800) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 4.2 * (100vw - 1440px) / (800 - 1400) );
    }
    .Results--card--title{
        font-size: calc( .8rem + 16 * (100vw - 800px) / (1440 - 800) );
        /* For a negative slope, we have to invert the breakpoints */
        line-height: calc( 120% + 4.2 * (100vw - 1440px) / (800 - 1400) );
    }
  }

  /*MOBILE*/
  @media (min-width: 320px) and (max-width: 500px) {
    .Results--title {
      font-size: calc( 2.5rem + 16 * (100vw - 320px) / (500 - 320) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 3.2 * (100vw - 500px) / (320 - 500) );
    }
    .Results--card--title{
        font-size: calc( 1.8rem + 16 * (100vw - 320px) / (500 - 320) );
        /* For a negative slope, we have to invert the breakpoints */
        line-height: calc( 120% + 4.2 * (100vw - 500px) / (320 - 500) );
    }
  }