.Results__Card {
    background-color: #7fcdff;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0, 0, 0.6);
    margin: 2em;
    padding: 2em;
    width: 25%; 
}
.Results__Image {
    width: 7em;
}
.Results__Title{
    font-family:sans-serif;
    font-size:4rem;
    letter-spacing: .3 em;
    text-align: center;
    text-shadow: 0px 1px 3px #000;
}
.Results__Wrapper {
    background-color: #dfe1e6;
    display: flex;
    flex: 25%;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
}