.Map__Wrapper{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    background-color:#007399;
    border-radius:3px;
    padding:2em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    margin-top:calc(5vmin);
}

path{
    stroke-dasharray: 100000;
    stroke-dashoffset: 100000;
    animation: dash 20.5s linear forwards;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
