
/*DEFAULT VALUES*/
.Header--wrapper{
    background: #ff5722;
    border-radius: 3px;
    box-shadow: 0 0 10px #4d0000;
    margin-bottom: calc(5px + 5vmin);
    text-align:left;
    padding: calc(1px + 1vmin);
    text-decoration: none;
}

.Header--wrapper a {
  text-decoration: none;
}

.Header--title:hover{
  color:rgb(50, 205, 50);
}



.Header--title {
  /* For a negative slope, we have to invert the breakpoints */
  line-height: calc( 120% + 4.2 * (100vw - 1440px) / (800 - 1400) );
  color: #910000;
  letter-spacing: .9rem;
  margin: calc(2px + 1vmin);
  padding-left: calc(5px + 5vmin);
}

.Header--subtitle{
  text-align: right;
  background: #ff5722;
  color: #910000;
  text-shadow: 1px 1px 3px #000;
}

/*DESKTOP SCREENS*/
@media (min-width:800px){
  .Header--title {
    color: #910000;
    letter-spacing: .9rem;
    margin: calc(2px + 1vmin);
    padding-left: calc(5px + 5vmin);
    text-shadow: 1px 1px 3px #000;
  }
}

  /*MOBILE SCREENS*/
  @media (min-width: 320px) and (max-width: 500px) {
    .Header--title{
      color: #910000;
      letter-spacing: .9rem;
      margin: calc(2px + 1vmin);
      padding-left: calc(5px + 5vmin);
    }
  }


/*MOBILE RESPONSIVE FONTS VERTICAL */
  @media (min-width: 320px) and (max-width: 500px) {
    .Header--title {
      font-size: calc( 2.5rem + 16 * (100vw - 320px) / (500 - 320) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 3.2 * (100vw - 500px) / (320 - 500) );
    }

    .Header--subtitle{
      font-size: calc( .8rem + 16 * (100vw - 320px) / (500 - 320) );
      line-height: calc( 120% + 3.2 * (100vw - 500px) / (320 - 500) );
    }
  }

  /*RESPONSIVE FONT  MOBILE LANDSCAPE */
  @media (min-width: 640px) and (max-width: 1024px) and (min-height:360px) and (max-height:768px) {
    .Header--subtitle{
      font-size: calc( 2.5rem + 16 * (100vw - 640px) / (1024 - 640) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 3.2 * (100vw - 1024px) / (640 - 1024) );
    }
    .Header--subtitle{
        font-size: calc( 1.8rem + 16 * (100vw - 640px) / (1024 - 640) );
        /* For a negative slope, we have to invert the breakpoints */
        line-height: calc( 120% + 4.2 * (100vw - 1024px) / (640 - 1024) );
    }
  }

/*DESKTOP RESPONSIVE FONTS*/
@media (min-width: 800px) and (max-width: 1440px) {
    .Header--title {
      font-size: calc( 3.5rem + 16 * (100vw - 800px) / (1440 - 800) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 4.2 * (100vw - 1440px) / (800 - 1400) );
    }

    .Header--subtitle{
      font-size: calc( 1.8rem + 16 * (100vw - 800px) / (1440 - 800) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 4.2 * (100vw - 1440px) / (800 - 1440) );
    }
  }

  /*BIG DESKTOP RESPONSIVE FONTS*/
@media (min-width: 1441px) and (max-width: 2000px) {
  .Header--title {
    font-size: calc( 5.5rem + 16 * (100vw - 1441px) / (2000 - 1441) );
    /* For a negative slope, we have to invert the breakpoints */
    line-height: calc( 120% + 4.2 * (100vw - 2000px) / (1441 - 2000) );
  }

  .Header--subtitle{
    font-size: calc( 2.8rem + 16 * (100vw - 1441px) / (2000 - 1441) );
    /* For a negative slope, we have to invert the breakpoints */
    line-height: calc( 120% + 4.2 * (100vw - 2000px) / (1441 - 2000) );
  }
}