.Video__Wrapper {
    // float: none;
    // clear: both;
    // width: 100%;

    // padding-bottom: 56.25%;
    // padding-top: 25px;

    height: 0;
    margin:0 auto;
}

.Video__Wrapper iframe {
    position: absolute;
    // top: 25vh;
    left: 26vw;
    width: 60vw;
    height: 60vh;
    max-width:640px;
}



