.DetailedRecipe__Container{
    display:grid;
    grid-template-columns: 1fr;
}



.DetailedRecipe__Description{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.DetailedRecipe--Button{
    margin:calc(5vmin);
}

.DetailedRecipe--Button button{
    padding:calc(5vmin);
    border-radius:5px;
    background-color: #0079D3;
    color:white;
    letter-spacing: .3rem;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.DetailedRecipe--Button button:hover{
    transform: translateY(-5px);           /*open*/
}
