

.DetailedRecipe__Container{
    position:fixed;
    left:50vw;  
    top:50vh;     
}

.DetailedRecipe__Content{
    width: 80vw;
    height: 80vh;
                                            /*amazin trick to center fixed element*/
    transform: translate(-50%, -50%);       /*https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    border:1px solid pink;
    background:white;
    grid-gap:20px;
    padding:calc(3vmin);
    margin:calc(3vmin);
}

.DetailedRecipe--Ingredients{
    padding:calc(3px + 3vmin);
    background:green;
}


.DetailedRecipe--Directions{
    /* padding:calc(3px + 3vmin);   */
    overflow: hidden;
}

.Directions__list{
    margin:calc( 3vmin);
}



/*
 * With default user settings:
 * • 0.625rem = 10px
 * • 1.25rem  = 20px
 * • 2.5rem   = 40px
 */


/*RESPONSIVE FONT BIG DESKTOP*/
@media (min-width: 1441px) and (max-width: 2000px) {
    .Directions__list{
      font-size: calc(1rem +  (100vw - 1441px) / (2000 - 1441) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 4.2 * (100vw - 2000px) / (1441 - 2000) );
    }
  }



/*RESPONSIVE FONT DESKTOP*/ /*macbook air*/
  @media (min-width: 800px) and (max-width: 1440px) {
    .Directions__list{
      font-size: calc( 1rem +  (100vw - 800px) / (1440 - 800) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 180% + 3.2 * (100vw - 1440px) / (800 - 1440) );
    }

  }


/*RESPONSIVE FONT  MOBILE LANDSCAPE */
  @media (min-width: 640px) and (max-width: 1024px) and (min-height:360px) and (max-height:768px) {
    .Directions__list{
      font-size: calc( 1rem +  (100vw - 640px) / (1024 - 640) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 3.2 * (100vw - 1024px) / (640 - 1024) );
    }

  }

  /* RESPONSIVE FONT  MOBILE VERTICAL*/
  @media (min-width: 320px) and (max-width: 500px) {
    .Directions__list{
      font-size: calc( 1rem + (100vw - 320px) / (500 - 320) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 3.2 * (100vw - 500px) / (320 - 500) );
    }
  }