.DetailedRecipe__Container{
    display:grid;
    grid-template-columns: 1fr;
    
}



.DetailedRecipe__Description{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    
}


