


.Instructions--Heading{
    font-weight:600;
    margin-bottom:calc(2.5vmin);
}

.Instructions__Wrapper{
   padding: calc(2.5vmin);
}


/*RESPONSIVE FONT BIG DESKTOP*/
@media (min-width: 1441px) and (max-width: 2000px) {

    .Description__Instructions{
        justify-self: center;
        margin-right:calc(15px + 15vmin);
        /* padding:calc(2.5vmin); */
    }

    .Instructions--Heading{
      font-size: calc(1.3rem + 16 * (100vw - 1441px) / (2000 - 1441) );
    }

    .Instruction--Content{
      font-size: calc(.8rem + 16 * (100vw - 1441px) / (2000 - 1441) );
      /* line-height: calc( 250% + 4.2 * (100vw - 2000px) / (1441 - 2000) ); */
      line-height: calc(1.3em + 1vw);       /*https://css-tricks.com/molten-leading-css/*/
    }

    .Instructions__Wrapper{
        column-count: 1;
        column-width: 200px;
        padding-left: 2em;
    }

  }



/*RESPONSIVE FONT DESKTOP*/
  @media (min-width: 800px) and (max-width: 1440px) {

    .Description__Instructions{
        justify-self: center;
        margin-right:calc(15px + 15vmin);
    }

    .Instructions--Heading{
      font-size: calc(2.5rem + 16 * (100vw -800px) / (1440 - 800) );
    }

    .Instruction--Content{
      font-size: calc(1.2rem + 16 * (100vw - 800px) / (1440 - 800) );
      /* line-height: calc( 250% + 4.2 * (100vw - 1440px) / (800 - 1440) ); */
      line-height: calc(1.3em + 1vw);       /*https://css-tricks.com/molten-leading-css/*/
    }

    .Instructions__Wrapper{
        column-count: 1;
        column-width: 200px;
        padding-left: 2em;
    }

  }


/*RESPONSIVE FONT  MOBILE LANDSCAPE */
  @media (min-width: 640px) and (max-width: 1024px) and (min-height:360px) and (max-height:768px) {
    .Instructions--Heading{
      font-size: calc(1.5rem + 16 * (100vw -640px) / (1024 - 640) );
    }

    .Instructions__Wrapper{
        column-count: 1;
        column-width: 200px;
        padding-left: 2em;
        text-align: center;
    }

    .Instruction--Content{
      font-size: calc(.7rem + 16 * (100vw - 640px) / (1024 - 640) );
      line-height: calc(2.3em + 1vw);                                       /*https://css-tricks.com/molten-leading-css/*/
    }

     .Instructions--Heading{
        text-align: center;
    }

  }


/*RESPONSIVE FONT  MOBILE VERTICAL */
  @media (min-width: 320px) and (max-width: 500px) {
    .Instructions--Heading{
      font-size: calc(1.5rem + 16 * (100vw -320px) / (500 - 320) );
    }

    .Instructions__Wrapper{
        column-count: 1;
        column-width: 200px;
        padding-left: 2em;
        text-align: center;;
    }
     
    .Instruction--Content{
      font-size: calc(.9rem + 16 * (100vw - 320px) / (500 - 320) );  
      line-height: calc(2.3em + 1vw);                                                           /*https://css-tricks.com/molten-leading-css/*/
    }

     .Instructions--Heading{
        text-align: center;
    }

  }

